VITE_BACKEND_API_URL="https://realitylens-9qu1.onrender.com"
# VITE_BACKEND_API_URL="http://127.0.0.1:8000"


# mac  cmd entitlement
# codesign --force --deep --options runtime --entitlements ./entitlements.plist --sign - "./out/make/zip/darwin/arm64/RealityLens.app"
# zip -r RealityLens.zip RealityLens.app